#sidebarMenu {
    overflow-y: auto;
    height: 100%;
    position: fixed;
}

input {
    text-align: center;
}

.RandomAdvice {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

.divAdvice {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
    text-align: center;
}

.divImage {
    align-items: center;
    display: flex;
    justify-content: center;
}