.RandomAdvice {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

.divAdvice {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px;
    color: white;
    text-align: center;
}

.divImage {
    align-items: center;
    display: flex;
    justify-content: center;
}